<div class="buy_form_big_container">
    <div class="buy_form_container">
        <button class="buy_form_close btn_main_style" title="Закрыть"></button>
        <form action="#" class="buy_form">
            <div class="buy_form_choiсe_list">
                <div class="buy_form_choiсe_error"></div>
                <div class="buy_form_choiсe_filter">
                    {{#if movie_name}}
                    <p class="buy_form_choiсe_filter_name">Название:<span>{{movie_name}}</span></p>
                    <fieldset class="buy_form_choiсe_filter_time_add"> 
                    <legend>Выберите время сеанса<span>*</span></legend>
                    {{> buy_form/buy_form_selection_month}}
                    {{> buy_form/buy_form_selection_days}}
                    {{> buy_form/buy_form_selection_hours}}
                    </fieldset>
                    {{/if}}
                    {{#if request_params}}
                    <p class="buy_form_choiсe_filter_name">Название:<span>{{request_params.movie_name}}</span></p>
                    <p class="buy_form_choiсe_filter_time">Время сеанса:<span>{{dateFormatRU request_params.movie_date}}
                    {{request_params.movie_time}}</span></p>
                    {{/if}}
                </div>
            </div>
            <div class="buy_form_get">
                <div class="buy_form_get_contacts">
                    {{#unless login}}
                    <div>
                        <div><label for="buy_form_get_contacts_email">Введите адрес электронной
                                почты<span>*</span></label>
                        </div>
                        <div><input id="buy_form_get_contacts_email" class="email" type="text"></div>
                    </div>
                    <div>
                        <div><label for="buy_form_get_contacts_phone">Введите номер мобильного
                                телефона<span>*</span></label>
                        </div>
                        <div><input id="buy_form_get_contacts_phone" class="phone" type="text"></div>
                    </div>
                    {{/unless}}
                    {{#if login}}
                    <h4>Предпочитаемый Вами способ получения билетов</h4>

                    {{#if client_preference.preference_email}}
                    <div>
                        <p>Указанный адрес электронной почты:<span>*</span></p>
                        <p>{{client_preference.preference_email}}</p>
                    </div>
                    {{/if}}

                    {{#if client_preference.preference_phone}}
                    <div>
                        <p>Указанный номер телефона:<span>*</span></p>
                        <p>+{{client_preference.preference_phone}}</p>
                    </div>
                    {{/if}}

                    {{#if client_preference.preference_account}}
                    <div>
                        <p>Ваш личный кабинет</p>
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
                {{#if request_params}}
                 {{> buy_form/buy_form_tickets}}
                {{/if}} 
            </div>
            <div class="buy_form_get_place_checked">
            </div>
            <div class="total_price">К оплате: <span>0</span>руб.</div>
            <button type="button" class="btn_main_style btn_accent buy_form_btn" tabindex="0">Купить</button>
        </form>
    </div>
</div>