<div class="container">
    <div class="ticket">
      <h2>Поздравляем с покупкой!</h2>
       {{#each tickets}}
      <div class="ticket_info">
        <div class="movie_img_container">
         
          <div><img src="/posters/{{this.cinema_path}}" alt="{{this.cinema_name}}" ></div>
          <div>
          <ul>
            <li>Адрес: <span>г. Москва ул. Какая-то д. 111</span></li>
            <li>Название: <span>{{this.cinema_name}}</span></li>
            <li>Дата: <span>{{this.session_date}}</span></li>
            <li>Время: <span>{{this.session_time}}</span></li>
            <li>Зал:<span>{{this.hall}}</span></li>
            <li>Ряд:<span>{{this.row}}</span></li>
            <li>Место:<span>{{this.place}}</span></li>
          </ul>
          <p>* На входе могут потребоваться документы, подтверждающие возраст</p>
          </div>
        
        </div>
      </div>
        {{/each}}
      <div class="ticket_back"><a href="/">Закрыть и перейти на главную страницу</a></div>
    </div>
  </div>